/* Center all components on the screen */
.converter-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  display: flex; /* Center horizontally */
  flex-direction: column; /* Stack child components vertically */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  min-height: 100vh; /* Make sure container spans the full viewport height */
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  flex-direction: column; /* Stack input elements vertically */
  gap: 10px;
}

input[type="number"] {
  width: 80px;
  padding: 5px;
}

button {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  color: #008000;
}

.error {
  margin-top: 20px;
  color: #ff0000;
}

body {
  background-color: #333;
  color: #fff;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center; /* Center all content horizontally */
  align-items: center; /* Center all content vertically */
  min-height: 100vh;
}

.hex-value-container {
  background-color: #444;
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
  color: #fff;
}
input[type="text"] {
  width: 200px;
  padding: 5px;
}
h2 {
  font-size: 50px; 
  margin-bottom: 10px;
  color: #fff;

}
.rgb-value-container {
  background-color: #444;
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
  color: #fff;
}